{{> Header }}
<div class="container">
    <a id="auth" href="https://oauth.vk.com/authorize?client_id={{client_id}}&display={{display}}&redirect_uri={{redirect_uri}}&scope={{scope}}&response_type={{response_type}}&v=5.120">авторизоваться</a>
</div>
